extends common/layout  

block content 
  main.main
  section
    .main__part1
      h2.main__tittle
        | How Dreamshare works?
      .main__block-foto
        .main__block-foto1-1
          .main__button1
            p.main__button1-1
              | Step 1
          h3.main__block1-tittle
            | Sed leo enim, condimentum
          p.main__block1-text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
        .main__block-foto1-2
          .main__button2
            p.main__button1-2
              | Step 2
          h3.main__block2-tittle
            | Morbi velit risus
          p.main__block2-text
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
        .main__block-foto1-3
          .main__button3
            p.main__button1-3
              | Step 3
          h3.main__block3-tittle
            | Sed leo enim, condimentum
          p.main__block3-text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
  section
    .main__part2
      h2.main__tittle2-1
        | Meet a partner for your best holiday
      .main__block-foto-part2
        .main__bl1
          img(src='./images/Photo.png' style='margin: auto; display: block;' alt='')
          .main__block-icons1-part2
            img.main__foto1-part2(src='./icons/music2.png' alt='')
          h4.main__name1-part2 Bradley Hunter
          p.main__text1-part2
            | Based in Chicago. I love playing tennis and loud music.
        .main__bl2
          img(src='./images/Photo (1).png' style='margin: auto; display: block;' alt='')
          .main__block-icons2-part2
            img.main__foto1-part2(src='./icons/brush.png' alt='')
          h4.main__name2-part2 Marie Bennett
          p.main__text2-part2
            | Currently living in Colorado. Lover of art, languages and travelling.
        .main__bl3
          img(src='./images/Photo (2).png' style='margin: auto; display: block;' alt='')
          .main__block-icons3-part2
            img.main__foto1-part2(src='./icons/camera.png' alt='')
          h4.main__name3-part2 Diana Wells
          p.main__text3-part2
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .main__bl4
          img(src='./images/Photo (3).png' style='margin: auto; display: block;' alt='')
          .main__block-icons4-part2
            img.main__foto1-part2(src='./icons/airplane.png' alt='')
          h4.main__name4-part2 Christopher Pierce
          p.main__text4-part2
            | Star Wars fanatic. I have a persistent enthusiasm to create new things.
      .main__button-part2
        p.main__text-button-part2
          | See other partners
  section
    .main__part3
      h3.main__tittle-part3
        | Discover holiday activity ideas
      .main__main-block-fotos-part3
        .main__block1-part3
          .main__foto1-part3
            p.main__text1-foto1-part3
              | Sports and Activis
          .main__foto2-part3
            p.main__text2-foto2-part3
              | Wellness and Health
          .main__foto3-part3
            p.main__text3-foto3-part3
              | Extreme Sports and Expeditions
        .main__block1-part3
          .main__foto4-part3
            p.main__text4-foto4-part3
              | Games
          .main__foto5-part3
            p.main__text5-foto5-part3
              | Culture and Education
        .main__block1-part3
          .main__foto6-part3
            p.main__text6-foto6-part3
              | Enjomet and Relaxation
          .main__foto7-part3
            p.main__text7-foto7-part3
              | Trevelling
  section
    .main__part4
      h1.main__tittle-part4
        | Crate your holiday activity
      h2.main__tittle2-part4
        | Hi! What are your holiday interests?
      .main__form-part4
        form
          input.main__input-search-part4(type='search' placeholder='Enter your insterests')
        form
          input.main__input-submit-part4(type='submit' value='Search partners')
