footer.footer
    .footer__main
        h1.footer__logo
            | DREAMSHARE
        .footer__menu1
            h1.footer__menu1-h1
                | Company
            ul.footer__menu1-ul
                li.footer__menu1-li1
                    a.footer__menu1-link(href='#')
                        | About
                li.footer__menu1-li1
                    a.footer__menu1-link(href='#')
                        | Contact
                li.footer__menu1-li1
                    a.footer__menu1-link(href='#')
                        | Press
                li.footer__menu1-li1
                    a.footer__menu1-link(href='#')
                        | Blog
                li.footer__menu1-li1
                    a.footer__menu1-link.footer__menu1-link-l1(href='#')
                        | Terms and Privacy
                li.footer__menu1-li1
                    a.footer__menu1-link.footer__menu1-link-l2(href='#')
                        | Help
        h1.footer__h1-number2
            | Partners
        .footer__des
            h1.footer__h1-number3
                | DESIGNED BY
            img(src='./images/Bitmap (5).png' alt='')
