header.header
  .header__up
    p.header__logo
      | DREAMSHARE
    .header__visit
      p.header__login
        | Log in
      p.header__sign
        | Sign up
  .header__main
    h1.header__name-main
      | SHARE YOUR
      | HOLIDAY DREAM
    p.header__text-main
      | And find the perfect partner to fullfill it
  .header__down
    p.header__button
      | Find your holiday partner
